<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->
<!-- * * * * * * * * * * * The content below * * * * * * * * * * * -->
<!-- * * * * * * * * * * is only a placeholder * * * * * * * * * * -->
<!-- * * * * * * * * * * and can be replaced. * * * * * * * * * * * -->
<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->
<!-- * * * * * * * * * Delete the template below * * * * * * * * * * -->
<!-- * * * * * * * to get started with your project! * * * * * * * * -->
<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->

<!-- Toolbar -->

<!--
<div class="toolbar" role="banner">
  <span>Home</span>
  <span>Student</span>
    <div class="spacer"></div>
</div>
-->
<h1>TypeScriptPractice</h1>


<mat-tab-group mat-align-tabs="start">
  <mat-tab label="Home">
    <ng-template matTabContent>
      Username
      <input>
      <br>
      Password
      <input>
    </ng-template>
  </mat-tab>

  <mat-tab label="Student">
    <ng-template matTabContent>
      Announcement
    </ng-template>
  </mat-tab>
</mat-tab-group>


